.AppBar {
  height: 5em;
  background-color: #216983;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}

.AppBar h1 {
  color: #e4692e;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 10px;
}
